*{ 
    margin: 0;  
    padding: 0;
}

h1{ 
    color: rgb(255, 255, 255);
    text-shadow: 0 0 60px rgb(47, 13, 54),0 0 60px rgb(47, 13, 54) ;   
    font-size: 72px; 
    text-transform: uppercase; 
}

h4{ 
    color: rgb(255, 255, 255);
    text-shadow: 0 0 60px rgb(47, 13, 54),0 0 60px rgb(47, 13, 54) ; 
    font-size: 64px;   
}

p{
    color: rgb(255, 255, 255);
    font-weight: normal;
    font-size: 25px;
}

th{
    width: 30%; 
    vertical-align: top;
}

.BGIMG{
    width: 100%;  
    height: 100vh;  
    background-size: cover;  
    background-image:url(/รูปภาพ/BG.jpg); 
}

.table-menu{
    font-family: Arial, Helvetica, sans-serif;  
}

.content-index{ 
    height: 100%; 
    display: flex; 
    align-items: center;
    justify-content:center; 
    flex-direction: column; 
    margin: 40px 40px;
    transform: translateY(20%); 
}

.btn{
    background-color: blueviolet; 
    color: aliceblue; 
    text-decoration: none; 
    border: 2px solid transparent; 
    font-weight: bold; 
    text-transform: uppercase; 
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform 0.3s;
    margin: 0 10px;
}

.btn:hover{
    transform: scale(1.2);
    background-color: #ffc000; 
    box-shadow: 0 0 5px #ffc000, 
                0 0 20px #ffc000,
                0 0 50px #ffc000;
}

.Story{
    background-color: rgba(0, 0, 0, 0.644);
    padding: 20px 20px;
    border-radius: 30px;
}
.Manual{
    background-color: rgba(0, 0, 0, 0.644);
    padding: 20px 20px;
    border-radius: 30px;
}